<nav class="navbar">
  <div class="name-logo"><a href="index">Cougramtion</a></div>

  <ul>
    <li><a class="{% if title != "Recommend" and title != "Result" %}active{% endif %}" href="index">Home</a></li>
    <li><a href="#features">Features</a></li>
    <li><a href="#courses">Courses</a></li>
    <li><a href="#about us">About Us</a></li>
     <li><a href="#our-team">Team</a></li>
    <li><a class="{% if title == "Recommend" or title == "Result" %}active{% endif %}" href="Recommend">Recommend</a></li>
  </ul>
</nav>

<script>
  $(document).ready(function() {
    var actions = $('.navbar ul a');

    actions.on('click', function() {
      actions.removeClass('active');

      $(this).addClass('active');
    })
  });
</script>
